/* ==== Reset start ==== */

*{
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body{
    margin: 0;
    font: 300 15px/1 'Open Sans', sans-serif;
    background-color: #fff;
    color: #777;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
p {
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
input,
textarea,
button {
    outline: none;
    border: none;
}
button {
    cursor: pointer;
    background-color: transparent;
}
input[type="submit"] {
    cursor: pointer;
}
textarea {
    resize: vertical;
}
blockquote {
    margin: 0;
}
/* ==== Reset end ==== */

/* ==== Default classes start ==== */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.bg-black {
    background-color: #111;
}
.bg-grey {
    background-color: #f8f8f8;
}
.text-uppercase {
    text-transform: uppercase;
}
.m-auto {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.font-dosis {
    font-family: 'Dosis';
}
/* ==== Default classes end ==== */

/* ==== Default components start ==== */
.default-section {
    padding: 135px 0;
}
@media (max-width: 576px) {
    .default-section {
        padding: 110px 0;
    }
}
.small-section {
    padding: 70px 0;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.container-fluid {
    padding: 0 15px;
}
.title {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    color: #111111;
}
.title.title-white{
    color: #fff;
}
.title.section-title {
    font-size: 18px;
    letter-spacing: .5em;
    margin-bottom: 75px;
    font-weight: 400;
}
.title.section-title-light {
    font-size: 18px;
    letter-spacing: .3em;
    margin-bottom: 20px;
    font-weight: 300;
}
.title.section-title-small{
    font-size: 14px;
    letter-spacing: .4em;
    margin-bottom: 35px;
}
@media (max-width: 576px) {
    .title.section-title {
    margin-bottom: 45px;
    } 
}
.default-text {
    font-size: 15px;
    line-height: 1.7333;
    font-weight: 300;
}

blockquote, 
.blockquote {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.6;
}
blockquote span, 
.blockquote span {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-top: 40px;
}
@media (max-width: 991px) {
    blockquote {
        margin-bottom: 20px;
    }
}

.btn {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .2em;
}

.btn.btn-default {
    background-color: #e5e5e5;
    color: #777;
}

.btn.btn-default:hover {
    background-color: #d1d0d0;
}

.btn.btn-black {
    background-color: #323232;
    color: #fff;
}

.btn.btn-black:hover {
    background-color: #000;
}

.btn.btn-xs {
    padding: 7px 15px;
    font-size: 11px;
}
.btn[disabled] {
    cursor: not-allowed;
    opacity: .6;
}
.form-control {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    height: 40px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #777;
    padding-left: 13px;
    padding-right: 13px;
}
.form-control:focus {
    border-color: #111;
}
textarea.form-control {
    min-height: 90px;
    padding-top: 10px;
}
.form-control[disabled],
.form-control.disabled {
    cursor: not-allowed;
    opacity: .6;
}
.form-control.error {
    border-color: #f57e7e; 
}
.et-line {
    font-size: 48px;
    color: #111;
    text-align: center;
}
.rhomb-icon {
    display: inline-block;
    width: 23px;
    height: 23px;
    text-transform: uppercase;
    line-height: 23px;
    border-radius: 2px;
    font-size: 14px;
    transform: rotate(45deg);
    text-align: center;
}
.rhomb-icon i {
    transform: rotate(-45deg);
}
.rhomb-icon.black-icon {
    color: #fff;
    background-color: #111; 
}
.rhomb-icon.transparent-icon {
    background-color: transparent;
    border: 1px solid #2f2f2f;
    border-radius: 2px;
    color: #111;
    width: 21px;
    height: 21px;
    line-height: 19px;
}
.rhomb-icon.white-icon {
    color: #111;
    background-color: #fff;
}
.arrow-up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #c6c6c6;
    font-size: 50px;
    cursor: pointer;
}
/* ==== Default components end ==== */

/* ==== Guide styles start ==== */
.guide-section form .form-control {
    margin-bottom: 10px;
}
/* ==== Guide styles end ==== */

/* ==== Custom styles start ==== */

/* ---- Header ---- */
.header {
    position: absolute;
    padding: 25px 0;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
}
.header .header-logo {
    float: left;
}
.header .header-nav {
    float: right;
    line-height: 25px;
}
.header .header-nav li {
    float: left;
    color: rgba(255, 255, 255, .75);
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 11px;
}
.header .header-nav .first-li{
    margin-right: 35px;
}
.header .header-nav li + li {
    margin-left: 35px;
}
.slicknav_menu {
    display: none;
}
@media (max-width: 767px) {
    .slicknav_menu {
        display: block;
    }
    .header-nav {
        display: none;
    }
    .header-logo {
        line-height: 48px;
    }
}
/* ---- Header end ---- */

/* ---- Inner ---- */
.inner {
    background: url('../img/inner-bg.jpg') no-repeat center / cover;
    height: 100vh;
    padding-top: 73px;
    position: relative;
}
.inner::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: -4px;
}
.inner-content {
    display: inline-block;
    vertical-align: middle;
}
.inner h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    color: #f6f6f6;
    letter-spacing: 1.7em;
    font-weight: 400;
    text-transform: uppercase;
    text-indent: 1.7em; 
    margin-bottom: 100px;    
}
.inner .inner-text {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: rgba(255, 255, 255, .75);
    display: inline-block;
}
.inner-to-about-studio {
    position: absolute;
    bottom: 35px;
    left: 50%;
    cursor: pointer;
}
.inner-to-about-studio i {
    font-size: 10px;
    position: absolute;
    bottom: 10%;
    left: 45%;
}
@media (max-width: 991px) {
    .inner h1 {
        letter-spacing: .7em;
        text-indent: .7em;
        margin-bottom: 75px;
    }
}
@media (max-width: 767px) {
    .inner {
        height: auto;
        padding: 150px 0;
    }
}
@media (max-width: 576px) {
    .inner h1 {
        letter-spacing: .3em;
        font-size: 25px;
    }
    .inner .inner-text {
        font-size: 16px;
    }
}
/* ---- Inner end ---- */

/* ---- About studio ---- */
.about-studio {
    border-bottom: 2px solid rgba(8, 8, 8, .08);    
}
.about-studio-content {
    margin-bottom: 105px;
}
.team-item .team-item-img img {
    filter: grayscale(100%);
}
.team-item .team-item-info span {
    display: block;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    letter-spacing: .4em;
    color: #777777;
}

.team-item .team-item-info .team-item-name {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.team-item .team-item-info .team-item-role {
    font-size: 12px;
}
.team-wrapper {
    overflow: hidden;
    width: 100%;
}
.team-item .team-item-img {
    position: relative;
}
.team-item .team-item-skills {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: all .2s linear;
    padding: 40px;
}
.team-item .team-item-img:hover .team-item-skills {
    opacity: 1;
}
.team-item-skills .team-item-skills-title {
    font-size: 18px;
    letter-spacing: 0.3em;
    color: #fff;
    margin-bottom: 30px;
}
.team-item-skills .team-item-skills-content {
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 40px;
}
.skill-item .skill-name {
    font-size: 11px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: .2em;
    color: rgba(255, 255, 255, .9);
}
.progress-wrapp {
    background-color: rgba(255, 255, 255, .15);
    width: 100%;
    height: 12px;
    overflow: hidden;
}
.progress-wrapp .progress {
    height: 12px;
    background-color: rgba(255, 255, 255, .75);
    width: 0%;
    transition: .3s ease-out;
}
.team-item .team-item-img:hover .branding {
    width: 75%;
}
.team-item .team-item-img:hover .design {
    width: 90%;
}
.team-item .team-item-img:hover .development {
    width: 86%;
}
.team-item .team-item-img:hover .photography {
    width: 83%;
}
@media (max-width: 991px) {
    .team-item .team-item-skills {
        padding: 20px;
    }
    .team-item-skills .team-item-skills-title {
        margin-bottom: 15px;
        font-size: 15px;
    }
    .team-item-skills .team-item-skills-content {
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 18px;
    }
    .skill-item .skill-name {
        font-size: 9px;
        line-height: 20px;
    }
    .progress-wrapp {
        height: 10px;
    }
    .team-item .team-item-info .team-item-name {
        font-size: 12px;
    }
    .team-item .team-item-info .team-item-role {
        font-size: 10px;
    }
}
@media (max-width: 767px) {
    .team-item .team-item-img img {
        width: 100%;
    }
    .team-item .team-item-skills {
        padding: 40px;
    }
    .team-item-skills .team-item-skills-title {
        margin-bottom: 30px;
        font-size: 24px;
    }
    .team-item-skills .team-item-skills-content {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 25px;
    }
    .skill-item .skill-name {
        font-size: 15px;
        line-height: 38px;
    }
    .progress-wrapp {
        height: 18px;
    }
    .team-item .team-item-info .team-item-name {
        font-size: 20px;
    }
    .team-item .team-item-info .team-item-role {
        font-size: 15px;
    }
    .team-item .team-item-info {
        margin-bottom: 20px;
    }
    .about-studio-content .col-sm-12 + .col-sm-12 {
        margin-top: 20px;
    }
}
@media (max-width: 576px) {
    .team-item-skills .team-item-skills-title {
        margin-bottom: 40px;
        font-size: 25px;
    }
    .team-item-skills .team-item-skills-content {
        margin-bottom: 40px;
        font-size: 25px;
        line-height: 35px;
    }
    .skill-item .skill-name {
        font-size: 18px;
        line-height: 50px;
    }
    .progress-wrapp {
        height: 15px;
    }
    .progress-wrapp .progress {
        height: 15px;
    }
}
@media (max-width: 479px) {
    .team-item .team-item-skills {
        padding: 40px;
    }
    .team-item-skills .team-item-skills-title {
        margin-bottom: 15px;
        font-size: 15px;
    }
    .team-item-skills .team-item-skills-content {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    .skill-item .skill-name {
        font-size: 9px;
        line-height: 20px;
    }
}
/* ---- About studio end ---- */

/* ---- Services ---- */
.tabs-wrapper:after {
    content: "";
    display: table;
    clear: both;
}
.tabs-nav {
    overflow: hidden;
    margin-bottom: 75px;
}
.tabs-nav-name {
    font-size: 14px;
    letter-spacing: .4em;
}
#tabs .tabs-nav li {
    float: left;
    width: 20%;
    opacity: .5;
    color: #111;
}
#tabs .tabs-nav li.ui-state-active {
    opacity: 1;
}
#tabs .tabs-nav li span {
    display: block;
}   
.tabs-nav li span + span {
    margin-top: 20px;
}
@media (max-width: 991px) {
    .tabs-nav {
        margin-bottom: 45px;
    }
    .tabs-nav-name {
        font-size: 12px;
        letter-spacing: .3em;
    }
}
@media (max-width: 767px) {
    .tabs-nav {
        margin-bottom: 25px;
    }
    #tabs .tabs-nav li {
        width: 33.3333%;
        margin-bottom: 25px;
    }
    .tabs-wrapper .col-sm-12 + .col-sm-12 {
        margin-top: 20px;
    }
}
/* ---- Services end ---- */

/* ---- Lets talk ---- */
.lets-talk-content {
    padding: 140px 0;
}
.lets-talk-content p {
    color: rgba(255, 255, 255, .7);
    margin-bottom: 35px;
}
.lets-talk .lets-talk-img {
    margin-top: -32px;
}
/* .lets-talk-content .btn-default {
    background-color: rgba(255, 255, 255, .8);
    font-size: 14px;
    letter-spacing: .2em;
    color: #111;
    padding-left: 40px;
    padding-right: 40px;
} */
@media (max-width: 991px) {
    .lets-talk-content {
        padding: 70px 0;
        text-align: center;
    }
}
@media (max-width: 576px) {
    .lets-talk-content button {
        width: 100%;
    }
}
/* ---- Lets talk end ---- */

/* ---- Portfolio ----- */
.portfolio {
    overflow: hidden;
    padding-bottom: 7px;
    position: relative; 
}
.portfolio-content {
    max-width: 760px;
    margin: auto;
    margin-bottom: 85px;
}
#portfolio-tabs .portfolio-tabs-nav {
    margin-bottom: 50px;
}
.portfolio-tabs-nav li {
    display: inline-block;
}
#portfolio-tabs .portfolio-tabs-nav li {
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .4em;
    color: #111;
    opacity: .5;
} 
#portfolio-tabs .portfolio-tabs-nav li + li {
    margin-left: 67px;
}
#portfolio-tabs .portfolio-tabs-nav li.ui-state-active {
    opacity: 1;
}
.portfolio-item {
    float: left;
    width: 33.333333333%;
    padding: 0 3px;
}
.portfolio-item img {
    width: 100%;
    filter: grayscale(100%);
}
.portfolio-item img:hover {
    filter: grayscale(0);
}
@media (max-width: 991px) {
    .portfolio-items .portfolio-item-3 {
        margin-bottom: -3px;
    }
    .portfolio-item {
        width: 50%;
    }
}
@media (max-width: 767px) {
    #portfolio-tabs .portfolio-tabs-nav li + li {
        margin-left: 0;
        margin-top: 20px;
    }
    #portfolio-tabs .portfolio-tabs-nav li {
        width: 100%;
    }
    .portfolio-item {
        width: 100%;
    }
    @media (max-width: 576px) {
        .portfolio-content {
            margin-bottom: 55px;
        }
    }
}
/* ---- Portfolio end ---- */

/* ---- Creative works ---- */
/* .creative-works .btn-default {
    background-color: rgba(255, 255, 255, .8);
    font-size: 14px;
    letter-spacing: .2em;
    color: #111;
    padding-left: 40px;
    padding-right: 40px;
} */
@media (max-width: 576px) {
    .creative-works button {
        width: 100%;
    }
}
/* ---- Creative works end ---- */


/* ---- Why choose us ---- */
.causes .row + .row {
    margin-top: 85px;
}
.et-line-wrapper {
    margin-bottom: 35px;
}
@media (max-width: 991px) {
    .causes .cause-content {
        text-align: center;
        margin-bottom: 30px;
    }
    .causes .row + .row {
        margin-top: 0;
    }
}
/* ---- Why choose us end ---- */

/* ---- Reviews carousel ---- */
.reviews-carousel {
    padding-top: 135px;
    padding-bottom: 135px;
    overflow: hidden;
}
.reviews .et-line {
    color: #fff;
    font-size: 32px;
    display: block;
    margin-bottom: 25px;
}
.reviews-content .reviews-text {
    font-size: 18px;
    color: rgba(255, 255, 255, .75);
    line-height: 1.66em;
    max-width: 735px;
    margin: auto;
    padding-bottom: 20px;
}
.reviews-content .reviews-author {
    font-size: 11px;
    color: rgba(255, 255, 255, .3);
}
.reviews-carousel {
    position: relative;
}
.slick-dots {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    background-color: #fff;
    width: 9px;
    height: 9px;
    border: 1px solid #111;
    border-radius: 50%;
}
.slick-dots li.slick-active {
    background-color: #111;
    border: 1px solid #fff;
}
.slick-dots li + li {
    margin-left: 5px;
}
.slick-dots li button {
    display: none;
}
.slick-arrow {
    position: absolute;
    height: 100%; 
    z-index: 1;
    top: 0;
    width: 90px;
}
.slick-arrow.slick-prev {
    left: 0;

}
.slick-arrow.slick-next {
    right: 0;
}
.slick-arrow .carousel-button {
    width: 63px;
    height: 63px;
    background: #fff;
    text-align: center;
    line-height: 63px;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    margin-left: -32px;
    margin-top: -31px;
}
.slick-arrow.slick-next .carousel-button {
    right: 0;
    margin-right: -31px;
}
.slick-arrow .carousel-button .fa {
    position: absolute;
    transform: rotate(45deg);
    font-size: 10px;
}
.slick-arrow.slick-prev .carousel-button .fa {
    bottom: 14px;
    right: 17px;
}
.slick-arrow.slick-next .carousel-button .fa {
    top: 17px;
    left: 14px;
}
@media (max-width: 991px) {
    .reviews-content .reviews-text {
        max-width: 650px;
    }
    .reviews-carousel {
        padding-top: 110px;
    }
}
@media (max-width: 767px) {
    .reviews-content .reviews-text {
        font-size: 14px;
        max-width: 500px;
    }
}
@media (max-width: 576px) {
    .reviews-content .reviews-text {
        font-size: 12px;
        max-width: 250px;
    }
}
/* ---- Reviews-carousel end ---- */

/* ---- Latest news ---- */
.news {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}
.news-title {
    color: #777;
    font-size: 15px;
    letter-spacing: .2em;
    margin-bottom: 17px;
    display: block;
}
.news-author {
    font-size: 11px;
    color: #999999;
    letter-spacing: .4em;
    margin-bottom: 25px;
}
.news-text {
    margin-bottom: 30px;
}
.news-img {
    filter: grayscale(100%);
    margin-bottom: 30px;
    display: block;
}
.news-img:hover {
    filter: grayscale(0);
}
.latest-news .blog {
    font-family: 'Dosis', sans-serif;
    float: right;
    font-size: 11px;
    color: #999999;
    letter-spacing: .4em;
    line-height: 35px;
}
.news-wrapper button {
    letter-spacing: .2em;
}
@media (max-width: 991px) {
    .news-img img {
        width: 100%;
    }
    .news-wrapper {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid #777;
    }
}
@media (max-width: 576px) {
    .latest-news .blog {
        line-height: 55px;
    }
}
/* ---- Latest news end ---- */

/* ---- Subscribe ---- */
.subscribe form .form-control {
    max-width: 290px;
}
.subscribe .form-info {
    margin-top: 17px;
}
.form-info {
    font-size: 11px;
    color: #aaa;
    font-weight: 400;
}
.form-info .fa {
    font-size: 12px;
}
@media (max-width: 576px) {
    .subscribe form button {
        width: 100%;
    }
}
/* ---- Subscribe end ---- */

/* ---- Contacts ---- */
.contact-items-wrapper {
    margin-bottom: 80px;
    padding-left: 5px;  
}
.contact-item .contact-item-content {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.contact-item .contact-item-content span {
    display: block;
}
.contact-item .contact-title {
    font-family: 'Dosis', sans-serif;
    letter-spacing: .3em;
    font-size: 12px;
}
.contact-item-content .contact-data {
    line-height: 24px;
    color: #444;
}
.contact-form {
    margin: 0 -5px;
    overflow: hidden;
}
.contact-form .form-col {
    float: left;
    width: 50%;
    padding: 0 5px;
}
.contact-form .form-control + .form-control {
    margin-top: 10px;
}
.contact-form .form-info,
.contact-form .form-info i {
    line-height: 43px;
    display: inline-block;
}
.form-submit {
    display: inline-block;
    padding: 0 5px;
    margin-top: 20px;
    width: 100%;
}
@media (max-width: 767px) {
    .contact-items-wrapper {
        margin-bottom: 40px;
        text-align: left;
    }
    .contact-items-wrapper .col-sm-12 + .col-sm-12 {
        margin-top: 20px;
    }
    .contact-form .form-col {
        width: 100%;
    }
    .contact-form .form-col + .form-col {
        margin-top: 10px;
    }
}
@media (max-width: 576px) {
    .contact-items-wrapper {
        text-align: left;
    }
    .contact-form .form-submit button {
        width: 100%;
    }
}
/* ---- Contacts end ----  */

/* ---- Map start ----  */
#map {
    height: 410px;
}
.map-container {
    position: relative;
}
.on-map-block {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    top: 0;
    left: 0;
}
.map-container:hover .on-map-block {
    display: none;
}
.on-map-block::after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.on-map-content {
    display: inline-block;
    vertical-align: middle;
}
.map-icon {
    display: block;
    margin-bottom: 30px;
}
.map-text {
    font-size: 16px;
    letter-spacing: 0.3em;
    color: rgba(255, 255, 255, .75);
    display: inline-block;
}
.map-text i {
    font-size: 8px;
}
/* ---- Map end ----  */


/* ==== Custom styles end ==== */

/* ---- Footer ---- */
.footer {
    padding-top: 140px;
    padding-bottom: 60px;
}
.footer .footer-logo {
    margin-bottom: 24px;
}
.footer-nav {
    margin-bottom: 105px;
}
.footer-nav li + li {
    margin-left: 13px;
}
.copyright span {
    display: block;
}
.copyright .company {
    letter-spacing: .5em;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #111;
}
.copyright .tagline {
    font-size: 11px;
    color: #999;
    line-height: 24px;
}
/* ---- Footer end ---- */ 